.form {
    background-color: #2e3131;
    width: auto;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    position: relative;
    overflow-y: hidden;
    height: 0;

    transition: ease 0.3s;
}

.form.active {
    height: 185px;
}

.form .form-header {
    margin: 27px 30px 10px 30px;
}

.form .form-header p {
    font-weight: 900;
    color: #fff;
    font-size: 1.1rem;
}

.form .form-content {
    margin: 0 30px 10px 30px;
    display: flex;
    flex-direction: column;
}

.form .form-content .new-todo {
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 1px solid #fff;

    color: #fff;
    height: 1.2rem;
    margin: 10px 0;
}
.form .form-content .new-todo:focus {
    outline: none;
}

.form .form-content .new-date:focus {
    outline: none;
}

.form .btns {
    margin: 5px 30px 10px 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.form .btns .submit {
    width: auto;
    background-color: #595ddd;
    font-size: 0.8rem;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.3rem 1rem;
    cursor: pointer;
}

.form .btns .submit:focus {
    outline: none;
}
