/* Todo 리스트의 Header 부분에 관련된 CSS */


.header{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid #dfdfdf;
    background-color: #e8ecf1;
    
    height: auto;
    display: flex;
    padding: 45px 40px;    
    flex-direction: row;
    justify-content: space-between;

    position: relative;
}

.header .current{
    display: flex;
    flex-direction: row;
    height: auto;
}

.header .current .date{
    color: #595ddd;
    font-weight: 900;
    font-size: 4rem;
    line-height: 4rem;
    height: 3.3rem;
    margin-right: .3rem;
}

.header .current .details{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.header .current .details .day{
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 100;
    color: #2e3131;
}

.header .current .details .month{
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 100;
    color: #2e3131;
}

.header .remains{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.header .remains p{
    color: #6c7a89;
    font-size: .9rem;
    line-height: 1rem;
    font-weight: 100;
}   

.header .remains p b{
    font-weight: 900;
    color: #6c7a89;
    margin-right: .2rem;
}

.header .btn-create{
    width: 54px;
    height: 54px;
    border: 0;
    border-radius: 50%;
    background-color: #e74c3c;
    color: #fff;
    font-size: 1.1rem;
    position: absolute;
    bottom: -27px;
    right: 50px;
    cursor: pointer;
    z-index: 1;
    transition: .3s ease;
}

.header .btn-create.active{
    transition: .3s ease;
    transform: rotate(45deg);
}

.header .btn-create:focus {outline:none;}
