/* Todo 리스트에 관련된 CSS */


.list {
    width: auto;
    margin-top: 27px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: auto;
}

.list .list-item {
    width: auto;
    display: flex;
    flex-direction: row;    
    justify-content: space-between;
    align-items: center;
    padding : 10px 30px;
    border-bottom: 1px solid #dfdfdf;
    min-height: 3.5rem;   
}

.list .list-item p{
    color: #6c7a89;
    font-size: 1rem;
    font-weight: 400;
}

.list .list-item .checkbox .chk{
    background-color: rgba(0,0,0,0);
    border: none;
    padding: 0;
    margin: 0;
    color: #6c7a89;
    font-size: 1.3rem;
    cursor: pointer;
}

.list .list-item .checkbox .chk:focus { outline: none; }

.list .list-item .checkbox .chk .fa-circle{ display: block; }
.list .list-item .checkbox .chk .fa-check-circle{ display: none; }

.list .list-item .content {
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.list .list-item .content p{
    word-break: break-all;
    text-align: left;
    
}

.list .list-item .remain-date{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.list .list-item .remain-date .remain{
    font-size: .8rem;
    font-weight: 400;
}

.list .list-item .remain-date .date{
    font-size: .7rem;
    font-weight: 400;
}

.list .list-item .btn-delete{
    border: 0;
    background-color: rgba(0,0,0,0);
    border-radius: 0;
    color: #6c7a89;
    font-size: 1.1rem;
    width: auto;
    padding: 0;
    cursor: pointer;
}

.list .list-item .btn-delete:focus{ outline: none; }


/* expired */
.list .list-item.expired:not(.active) .content p{
    color: #e74c3c;
}

.list .list-item.expired:not(.active) .remain-date p{
    color: #e74c3c;
}

/* active 상태 */

.list .list-item.active .checkbox .chk{
    color: #f03434;
}

.list .list-item.active .content p{
    text-decoration: line-through;
    color: #bdc3c7;
}

.list .list-item.active .checkbox .chk .fa-circle{ display: none; }
.list .list-item.active .checkbox .chk .fa-check-circle{ display: block; }
