<div class="list-item">
    <div class="checkbox">
        <button type="button" class="chk" onclick="_list.item.ui.change(this)">
            <i class="far fa-circle"></i>
            <i class="far fa-check-circle"></i>
        </button>
    </div>
    <div class="content">
        <p>이거슨 새로운 할 일 입니더 아무거나 채워놔 봅니다</p>
    </div>
    <div class="remain-date">
        <p class="remain">7시간 전</p>
        <p class="date">09.22 13:00</p>
    </div>
    <button type="button" class="btn-delete" onclick="_list.item.ui.del(this)">
        <i class="far fa-times-circle"></i>
    </button>
</div>
